<p id="notice"><%= notice %></p>

<h1>Tag Projects</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_projects.each do |t_p| %>
      <tr>
        <td><%= link_to t_p.project.name, t_p.project %></td>
        <td><%= link_to t_p.tag.name, t_p.tag %></td>
        <td><%= link_to 'Show', t_p %></td>
        <td><%= link_to 'Edit', edit_tag_project_path(t_p) %></td>
        <td><%= link_to 'Destroy', t_p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag Project', new_tag_project_path %>
