<%= render partial: "layouts/flash" %>

<h2>Contact Me</h2>

<p>The best way to get in touch with me is via email. Please feel free to send me an email at the address below:</p>

<ul class="links">
    <% address = "jhfische@andrew.cmu.edu"%>
    <%= link_to "mailto:#{address}", html_options = {target: "_blank"} do %>
        <li class="link hovering clickable">
            <%= render partial: "bootstrap-icons/envelope" %>
            <%= address %>
        </li>
    <% end %>
</ul>

<br>
<p>Also, you can connect with me on LinkedIn:</p>

<ul class="links">
    <%= link_to "https://www.linkedin.com/in/jonathan-fischer-563143165/", html_options = {target: "_blank"} do %>
        <li class="link hovering clickable">
            <%= render partial: "bootstrap-icons/link_45deg" %>
            LinkedIn
            <%= render "bootstrap-icons/box_arrow_up-right", locals: {height: 16, width: 16} %>
        </li>
    <% end %>
</ul>

