<%= form_with(model: uploaded_file, local: true) do |form| %>
  <% if uploaded_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uploaded_file.errors.count, "error") %> prohibited this uploaded_file from being saved:</h2>

      <ul>
      <% uploaded_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cw_file, "Upload a file:" %>
    <%= form.file_field :cw_file %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :media_type %>
    <%= form.select :media_type, ["image", "audio", "video", "executable", "document", "archive", "other"] %>
  </div>

  <div class="field hidden">
    <%= form.label :upload_date %>
    <%= form.date_select :upload_date %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, checked: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
