<h1>All Projects</h1>


<ul class="projects">
  <% @projects.active.each do |project| %>
    <%= link_to project_path(project) do %>
      <li class="project">
        <h4><%= project.name %></h4>
        <% if not project.short_description.nil? %>
          <p><%= project.short_description %></p>
        <% end %>
        <% if can? :edit, Project or can? :destroy, Project %>
          <hr>
          <div class="project-options">
            <% if can? :edit, Project %>
              <%= link_to 'Edit', edit_project_path(project) %>
            <% end %>
            <% if can? :destroy, Project %>
              | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        <% end %>

      </li>
    <% end %>
  <% end %>
</ul>

<br style="clear:left;"><br>

<% if can? :create, Project %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
