<%= render partial: "layouts/flash" %>

<h1><%= @title %> Projects</h1>


<ul class="projects">
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <% if project.has_thumbnail? then %>
        <li class="project hovering clickable" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(255,255,255,1)), url('<%= project.thumbnail.url %>')">
      <% else %>
        <li class="project hovering clickable">
      <% end %>
        <h4><%= project.name %></h4>
        <% if not project.short_description.nil? %>
          <p><%= project.short_description %></p>
        <% end %>
        <% if can? :edit, Project or can? :destroy, Project %>
          <hr>
          <div class="project-options">
            <% if can? :edit, Project %>
              <%= link_to 'Edit', edit_project_path(project) %>
            <% end %>
            <% if can? :destroy, Project %>
              | <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        <% end %>

      </li>
    <% end %>
  <% end %>
</ul>

<br style="clear:left;"><br>

<% if can? :create, Project %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
