<p id="notice"><%= notice %></p>

<h2><%= @project.name %></h2>
<h5 class="dates">
  <%= @project.start_date.strftime("%B %Y") %> &ndash; 
  <% if @project.end_date.nil? %>
    present
  <% else %>
    <%= @project.end_date.strftime("%B %Y") %>
  <% end %>
</h5>
<hr>

<p>
  <%= @project.description %>
</p>

<% if @project.links.count > 0 %>
  <h5>Links</h5>
  <ul class="links">
    <% @project.links.each do |link| %>
      <li>
        <%= link_to link.url do %>
          <%= link.name %>
          <%= image_tag 'bootstrap-icons/box-arrow-up-right.svg', width: 16, height: 16, class: "external_link" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<br>
<%= if false then link_to 'Edit', edit_project_path(@project) end %>
<%= link_to 'Back', projects_path %>
