<p id="notice"><%= notice %></p>

<h2><%= @project.name %></h2>
<h5 class="dates">
  <%= @project.start_date.strftime("%B %Y") %> &ndash; 
  <% if @project.end_date.nil? %>
    present
  <% else %>
    <%= @project.end_date.strftime("%B %Y") %>
  <% end %>
</h5>
<hr>

<p>
  <%= @project.description %>
</p>

<% if @project.links.count > 0 %>
  <h5>Links</h5>
  <ul class="links">
    <% @project.links.each do |l| %>
      <%= link_to l.url, html_options = {target: "_blank"} do %>
        <li class="link">
          <%= render partial: "bootstrap-icons/link_45deg" %>
          <%= l.name %>
          <%= render "bootstrap-icons/box_arrow_up-right", locals: {height: 16, width: 16} %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @project.file_projects.count > 0 %>
  <h5>Files</h5>
  <ul class="files">
    <% @project.uploaded_files.each do |f| %>
      <%= link_to asset_path(f.url, type: :file), html_options = {download: f.url} do %>
        <li class="file">
          <%= render partial: "projects/file_type_icon", locals: {file: f}%>
          <%= f.name %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<!-- asset_path(file.url, type: :file) -->

<br>
<%= if false then link_to 'Edit', edit_project_path(@project) end %>
<%= link_to 'Back', projects_path %>
