<%= render partial: "layouts/flash" %>

<h2>File Projects</h2>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_projects.each do |file_project| %>
      <tr>
        <td><%= file_project.uploaded_file.name %></td>
        <td><%= file_project.project.name %></td>
        <td><%= link_to 'Show', file_project %></td>
        <td><%= link_to 'Edit', edit_file_project_path(file_project) %></td>
        <td><%= link_to 'Destroy', file_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File Project', new_file_project_path %>
