<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @file_project.file %>
</p>

<p>
  <strong>Project:</strong>
  <%= @file_project.project %>
</p>

<%= link_to 'Edit', edit_file_project_path(@file_project) %> |
<%= link_to 'Back', file_projects_path %>
